<form [formGroup]="eventForm" (ngSubmit)="event() ? editEvent() : addEvent()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter title"
      formControlName="title"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
    />
    @let titleError = eventForm.get('title')?.errors;
    @if(titleError?.['required']) {
        <div class="invalid-feedback">
          Title cannot be empty.
        </div>
    } @if(titleError?.['minlength']) {
        <div class="invalid-feedback">
            You are missing at least
            {{titleError?.['minlength'].requiredLength - titleError?.['minlength'].actualLength}}
            characters more
        </div>
    }@if(titleError?.['pattern']) {
        <div class="invalid-feedback">
            Title can only contain letters and spaces
        </div>
    }
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input
      type="date"
      class="form-control"
      formControlName="date"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
    />
    @let dateError = eventForm.get('date')?.errors;
    @if(dateError?.['required']) {
        <div class="invalid-feedback">Date is required.</div>
    }@if(dateError?.['minDate']) {
        <div class="invalid-feedback">
            Date must be at least {{ minDate | date : "dd/MM/yyyy" }}
        </div>
      }
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      formControlName="description"
      rows="3"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
    ></textarea>

    @let descErrors = eventForm.get('description')?.errors;
    @if(descErrors?.['required']) {
        <div class="invalid-feedback">Description is required.</div>
    } @if(descErrors?.['minlength']) {
        <div class="invalid-feedback">
            You are missing at least
            {{descErrors?.['minlength'].requiredLength - descErrors?.['minlength'].actualLength}}
            characters more
        </div>
    }
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price (in $)</label>
    <input
      type="number"
      class="form-control"
      formControlName="price"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
    />
    @let priceError = eventForm.get('price')?.errors;
    @if(priceError?.['required']) {
        <div class="invalid-feedback">Price cannot be empty.</div>
    } @if(priceError?.['min']) {
        <div class="invalid-feedback">Price cannot be 0 or negative</div>
    }
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input
      type="file"
      class="form-control"
      accept="image/*"
      encodeBase64
      (encoded)="imageBase64 = $event"
      formControlName="image"
      [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
    />
    <div class="invalid-feedback">An image is required.</div>
  </div>

  @if(imageBase64){
    <img
        [src]="imageBase64"
        alt=""
        class="img-thumbnail mb-3"
        style="width: 200px; height: auto"
    />
  }
  
    <div>
        {{event()? event().address : ""}}
        <ol-map [coordinates]="coordinates()">
            <ga-autocomplete class="searchBar" (locationChange)="changePlace($event)"></ga-autocomplete>
            <ol-marker [coordinates]="coordinates()"></ol-marker>
        </ol-map>
    </div>

  <div>
    @if(event()){
        <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="eventForm.invalid || !imageBase64"
        >
        Edit event 
        </button>
    }@else {
        <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="eventForm.invalid"
        >
        Create 
        </button>
    }
    
  </div>
</form>

