<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div class="col-auto ms-auto">
  <div class="text-end attend-users">
    <fa-icon [icon]="icons.faUser"></fa-icon>
    {{event().numAttend}}
  </div>
  @if(event().attend){
    <div class="text-success text-end m-0 attend-button attend" (click)="event().attend = false">
        <fa-icon [icon]="icons.faThumbsUp"></fa-icon>
        I'm going
    </div>
  }@else{
      <div class="text-danger text-end m-0 attend-button attend" (click)="event().attend = true">
        <fa-icon [icon]="icons.faThumbsDown"></fa-icon>
        I'm not going
      </div>
    }
</div>
