@if(event()){
    <div class="container mt-4">
        <div id="eventContainer" class="row">
            <div class="col">
                <event-card 
                    [event]="event()" 
                    (deleted)="redirectEventsPage()"
                    (attended)="updateLists()"
                ></event-card>
            </div>
            <div>
                <ol-map [coordinates]="coordinates()">
                    <ol-marker [coordinates]="coordinates()"></ol-marker>
                </ol-map>
            </div>
        </div>

        <div class="card mt-4 mb-4">
            <div class="card-header bg-danger text-white" id="address">Attendees to the event</div>
            <ul class="list-group" id="userList">
                @for(attendant of attendees().users; track attendant.id){
                    <li class="list-group-item">
                        <a class="avatar" href="">
                            <img class="rounded-circle float-start me-3" style="width: 40px; height: 40px;" [src]="attendant.avatar" alt="" />
                        </a>
                        <div>
                            <div><a class="text-decoration-none name" href="">{{attendant.name}}</a></div>
                            <div>
                                <small class="email">{{attendant.email}}</small>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="card mt-4 mb-4">
            <div class="card-header bg-info text-white" id="address">User comments</div>
            <ul class="list-group" id="userComments">
                @for(comment of comments().comments; track comment.id){
                    <li class="list-group-item">
                        <div class="row">
                          <div class="col-auto text-center user-info">
                            <a class="avatar" href="">
                              <img class=" rounded-circle" [src]="comment.user.avatar" alt=""/>
                            </a>
                            <div><small><a class="text-decoration-none name" href="">{{comment.user.name}}</a></small></div>
                            <div><small class="date">{{comment.date | date: "dd/MM/yyyy"}}</small></div>
                          </div>
                          <div class="col comment">
                            {{comment.comment}}
                          </div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <form class="mt-4" [formGroup]="commentForm" (ngSubmit)="addComment()">
            <div class="form-group">
                <textarea 
                    class="form-control" 
                    name="comment" 
                    placeholder="Write a comment"
                    formControlName="comment"
                ></textarea>
            </div>

            @if(!event().attend){
                <br>
                <div class="alert alert-warning" role="alert">
                    You must be an attendant to comment
                </div>
            }

            <button type="submit" [disabled]="commentForm.invalid || !event().attend" class="btn btn-primary mt-3">Send</button>

        </form>

    </div>
    <div class="mt-4 mb-4">
        <button class="btn btn-success" (click)="redirectEventsPage()">Go back</button>
    </div>
}
@else{
    <div>Cargando eventos...</div>
}
