<div class="card shadow">
    <a [routerLink]="['/events', event().id]">
        <img class="card-img-top" [src]="event().image" alt="Card image">
    </a>
    <div class="card-body">
        <h4 class="card-title">
            <a [routerLink]="['/events', event().id]">{{ event().title }}</a>
        </h4>
        <p class="card-text">{{event().description}}</p>
        @if(event().mine){
            <button 
                class="btn btn-danger delete d-flex align-items-center justify-content-center" 
                (click)="deleteEvent()">
                <i class="bi bi-trash"></i>
            </button>
        }
    </div>
    <div class="card-footer text-muted row m-0">
        <div class="col">{{event().date | date: "dd/MM/yyyy"}}</div>
        <div class="col text-end">{{event().price | intlCurrency:"EUR":"es-ES"}}</div>
    </div>
    @if(event().mine){
        <a class="btn btn-primary">Edit</a>
    }
</div>

