<div class="card shadow">
    <a [routerLink]="['/events', event().id]">
        <img class="card-img-top" [src]="event().image" alt="Card image">
    </a>
    <div class="card-body">
        <h4 class="card-title">
            <a [routerLink]="['/events', event().id]">{{ event().title }}</a>
        </h4>
        <p class="card-text">{{event().description}}</p>
        @if(event().mine){
            <button 
                class="btn btn-danger delete d-flex align-items-center justify-content-center" 
                (click)="deleteEvent()">
                <i class="bi bi-trash"></i>
            </button>
        }

        @if(event().attend){
            <attend
                class="attend"
                [event]="event()"
                (click)="deleteAttend(false)"
            ></attend>
        }@else{
            <attend
            class="attend"
            [event]="event()"
            (click)="attendEvent(true)"
            ></attend>
        }

    </div>
    <div class="card-footer text-muted row m-0">
        <div class="col-auto avatar pl-1 pr-1">
            <a [routerLink]="['/profile', event().creator.id]">
              <img [src]="event().creator.avatar" class="rounded-circle" alt="" width="50px" height="50px"/>
            </a>
        </div>
        <div class="col">
            <div class="name"><a [routerLink]="['/profile', event().creator.id]">{{event().creator.name}}</a></div>
            <div class="date small text-muted">{{event().date | date: "dd/MM/yyyy"}}</div>
          </div>
          <div class="col-auto text-end text-muted">
            <div class="price small">{{event().price | intlCurrency:"EUR":"es-ES"}}</div>
            <div class="distance small">{{event().distance.toFixed(1)}}km</div>
          </div>
    </div>
    @if(event().mine){
        <a class="btn btn-primary" [routerLink]="['/events', event().id, 'edit']">Edit</a>
    }
</div>

